@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility bubble{

  &{
    @apply relative overflow-hidden;
    span{
      @apply z-[2] relative;
    }
  }
  &:hover:after{
    @apply scale-[var(--bubble-scale)];
  }

  &:after{
    content: '';
    @apply aspect-square rounded-full w-[inherit] h-16 block absolute transition-transform duration-500 scale-0 -ml-14;
    transition-timing-function: cubic-bezier(.5,-1,.2,3);
    background: var(--bg-color);
    z-index: 1;
  }

}

@layer base{
  button, a, [role="button"]{
    @apply cursor-pointer;
  }
}

:root {
  --bg-color: var(--color-red-500);
  --bubble-scale: 5;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

html,
body {
  @apply bg-white text-black overflow-x-hidden;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input, textarea{
  @apply text-inherit! focus:ring-red-500;
  &:is(:-webkit-autofill), textarea:is(:-webkit-autofill){
    @apply text-black! bg-inherit!;
  }
}

.navbar {
  @apply shadow sm:shadow-sm lg:shadow-xl flex items-center justify-between px-3 py-2 bg-inherit;

  nav{
    @apply flex items-center gap-10;

    a{
      --bg-color: linear-gradient(to right, var(--color-gray-800), var(--color-red-600));
      @apply transition-all duration-500 ease-in-out font-semibold px-3 py-2 flex items-center bubble;

      &:hover{
        @apply text-white -translate-y-1;
      }

    }

    .login{
      --bg-color: linear-gradient(to right, var(--color-gray-800), var(--color-red-600));
      @apply px-3 py-2 bg-red-500 text-white bubble;
    }
    .signup{
      @apply border-2 border-red-500;
    }
  }

}

.cover{
  @apply min-h-[500px] bg-red-500/10 flex justify-center items-center px-3;

  &>div{
    @apply max-w-lg;

    h1{
      @apply text-7xl md:text-8xl font-black leading-tight;
    }
    p{ @apply font-medium; }

    div{
      @apply flex gap-5 sm:gap-20 items-center mt-5 font-medium;

      .docs{
        --bg-color: linear-gradient(to right, var(--color-gray-800), var(--color-red-600));
        @apply px-3 py-2 bg-red-500 text-white bubble;

      }
      .ex{
        @apply px-3 py-2 border-2 border-red-500 hover:-translate-y-1 transition-transform duration-500;
      }
    }
  }
}

.banner{
@apply bg-cover bg-blend-multiply min-h-[400px] text-white px-3 py-16 flex justify-center items-center;

  div{
    @apply max-w-2xl flex flex-col gap-y-8;

    h2{
      @apply text-5xl md:text-7xl text-center font-bold;
    }

    .author{
      @apply text-red-500 text-3xl;
      font-family: "Mrs Saint Delafield", cursive;
      font-weight: 400;
      font-style: normal;
    }

  }

  @media (min-width: theme(screens.lg)) {
    @apply h-screen;
    background-position-y: -200px;
  }
}

.about{
  @apply max-w-3xl bg-red-500/5 shadow px-3 sm:px-5 py-5 mx-auto my-16 flex flex-col gap-y-5;
  h1{
    @apply text-3xl md:text-5xl font-bold;
  }
  img{
    @apply w-full h-auto max-w-full;
  }
}

.not-found{
  @apply flex flex-col justify-center items-center text-3xl h-[500px] px-3 py-5 text-gray-400 overflow-hidden;

  img{
    @apply max-w-xl h-auto;
    filter: hue-rotate(330deg);
  }
  p{@apply -mt-24; }
}

.form{
  @apply relative flex flex-col gap-y-5 max-w-md mx-auto my-16 p-5 bg-gray-100 rounded-md border-2 border-red-500/5;

  &>div:not(#countries){
    @apply flex flex-col gap-y-2 relative;

    h1{ @apply text-4xl font-bold text-red-600; }
    span{ @apply text-sm font-medium; }

    label{ @apply text-red-500; }

    button{ @apply absolute right-3 bottom-2; }
  }

  .phone{
    @apply flex items-center gap-3 relative w-full;
    button{ @apply absolute left-0 w-max pl-3 pr-2 py-1 flex items-center gap-1 border-r border-gray-500; }
    input{ @apply pl-28 w-full;
    }
  }

  &>button{
    --bubble-scale: 15;
    --bg-color: linear-gradient(to right, var(--color-gray-800), var(--color-green-600));
    @apply bg-black text-white font-semibold p-3 cursor-pointer bubble;
    span{@apply block w-full text-center; }
  }

  #countries{
    @apply max-h-[500px] h-full flex flex-col gap-y-5 bg-white pb-5
    rounded-md shadow-lg w-full max-w-xs sm:max-w-sm absolute md:ml-24 overflow-hidden;
    h2{
      @apply font-semibold text-xl px-5 bg-red-500/5 py-3 flex justify-between items-center;
      svg{ @apply text-red-500; }
    }

    &>div{
      @apply flex flex-col gap-y-5 overflow-auto h-[inherit] px-5;
      button{
        @apply px-3 py-1 flex items-center gap-2 w-full;
        &:is(.selected){@apply bg-gray-100 hover:border hover:border-gray-500;}

        span{ @apply text-gray-500; }

        b{ @apply font-semibold; }
      }
    }
  }

}

.slide{
  @apply w-full max-w-md mx-auto;

  .prev{
    @apply left-16;
  }
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}